/* maps */
/* mixin */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

/* Logos */
.logoPrincipal {
  height: 140px;
  width: 140px; }

.logoRedes1 {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Barra de navegacion y footer*/
.cabecera {
  background-color: black; }

i {
  margin: 10px;
  color: white; }

.grid-container {
  display: grid;
  min-height: 100vh;
  margin-top: auto; }

/* ------ */
.footer {
  background-color: black;
  margin-top: auto; }

.imagenFondo {
  width: 250px;
  height: 250px;
  margin: 22px;
  padding: block;
  border: solid black 2px; }

.botonContacto {
  width: fit-content;
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'Arimo', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: black; }

/* Form */
.letrasForm {
  font-family: 'Arimo', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 10px; }

.casillasDeForm {
  margin-bottom: 15px;
  margin: 5px; }

.casillasDeForm2 {
  position: relative;
  left: 10px;
  margin-bottom: 15px;
  margin: 15px; }

.formCliente {
  font-family: 'Arimo', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: block;
  padding: 10px; }

/* media q fondo del index */
@media only screen and (max-width: 600px) {
  .imagenFondo {
    display: none; }
  .botonContacto {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px #093707, 0 0 80px #093707, 0 0 90px #093707, 0 0 100px #093707, 0 0 140px #093707, 0 0 180px #093707;
    font-size: 2rem;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: infinite; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/*Cards*/
.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto; }

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: black; }

.card {
  width: 250px;
  margin: 25px;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.card img {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0px; }

.card .contenido-card {
  padding: 15px;
  text-align: center; }

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: black;
  margin-top: 15rem; }

.card .contenido-card p {
  line-height: 1.8;
  color: black;
  font-size: 14px;
  margin-bottom: 5px; }

.conteinerTortas {
  display: flex;
  justify-content: center; }

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #0b451a;
  border: 1px solid #0b451a;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px; }

.card .contenido-card a:hover {
  background: #0b451a;
  color: #fff; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap; }
  .card {
    margin: 15px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .conteinerTortas {
    flex-wrap: wrap; }
  .card {
    margin: 15px; } }

/*Fin-Cards*/
/* Envios */
.gridEnvios {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 100vh; }

/* Iframe */
.mapa {
  height: 400px;
  width: 400px;
  padding: 20px; }

.col {
  color: white; }

.row {
  color: black;
  align-items: start;
  margin: 10px;
  font-family: 'Arimo', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Roboto', sans-serif; }

/* Texto envios */
.descripcionEnvios {
  color: white;
  margin: 10px;
  font-family: 'Arimo', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Roboto', sans-serif; }

section {
  height: 360px;
  background-color: black;
  padding: 20px;
  margin: 18px; }

/* animacion envios */
.box1 {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: black;
  border-radius: 80px 80px 80px 80px;
  display: flex;
  justify-content: center;
  align-items: center; }

.my24hs {
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-top: 30%;
  text-shadow: 0 0 5px #084f08, 0 0 10px #084f08, 0 0 20px #084f08, 0 0 40px #084f08, 0 0 80px #084f08, 0 0 90px #084f08, 0 0 100px #084f08, 0 0 140px #084f08, 0 0 180px #084f08;
  font-size: 2rem;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media only screen and (max-width: 599px) {
  .gridEnvios {
    flex-direction: column-reverse; } }

body {
  min-height: 100%; }

html {
  height: 100%; }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "header" "barranav" "main" "footer"; }

.cabecera {
  grid-area: header;
  height: fit-content;
  flex-direction: column; }

.cabeceraNavegacion {
  grid-area: barranav;
  flex-direction: column; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

/* envios iframe media q */
@media only screen and (max-width: 781px) {
  .gridEnvios {
    flex-direction: column-reverse;
    margin-top: 6rem; }
  .box1 {
    margin-top: 6rem; }
  .mapa {
    width: 100%; } }

.tituloHistoria {
  display: block;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  height: 25px;
  text-align: center;
  padding-bottom: 50px;
  color: white; }

.container {
  height: auto; }

.light {
  text-align: center; }

/* GALERIACSS */
.tituloGaleria {
  display: block;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  height: 25px;
  text-align: center;
  padding-bottom: 50px;
  color: black; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.carousel {
  width: 480px;
  display: block;
  margin: auto; }

.carousel-item {
  height: 500px;
  width: 100%; }
  .carousel-item img {
    height: 100%; }

.img-carousel {
  width: 100%; }

/* MEDIA Q GALERIA */
@media only screen and (max-width: 480px) {
  .carousel {
    width: auto; } }

.footer {
  margin-top: 1rem; }
