*{
    margin: 0;
    padding: 0;
}
/* Logos */

.logoPrincipal{
    height: 140px;
    width: 140px; 
    position: relative;
    left: 20px;
    
}

.logoRedes1{
    display: flex;
    justify-content: center;
    
}

i{
    margin: 10px;
}

.grid-container{
    display: grid;
    min-height: 100vh;
    margin-top: auto;
}
.footer{
    background-color: black;
    margin-top: auto;
}
/* Barra de navegacion */


 .cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: fit-content;
    flex-wrap: wrap; 
    position: sticky;
    top: 0px;
}

.cabeceraNavegacion{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

}


li{
    display: inline-block;
    padding: 4px;
    margin: 6px;
    font-family: 'Arimo', sans-serif;
    color: white;
    height: 20px;}

a{
    text-decoration:none ; color:white;
    font-weight: 400;
}

.imagenFondo{ 

    width: 250px;
    height: 250px;
    margin: 22px;
    padding:block;
    border: solid black 2px;
}


/* Boton contacto */

.botonContacto{
    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }






/* Envios */

.gridEnvios 
{display: flex;
flex-direction: row-reverse;
justify-content: center;
height: 100vh;}

.mapa{
   height: 200px;
   width: 200px;
  padding: 20px;

}

.tituloEnvios{
    align-items: start;
    margin: 10px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

.descripcionEnvios{

margin: 10px;
font-family: 'Arimo', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Roboto', sans-serif; 

}



/* Imaagenes de galeria */

.galeria{
overflow-y: 50px;
overflow-x: 50px;
}

.imagenesGaleria{
    height: 300px;
    width: 300px;
   
}


.box1 {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: black;
    border-radius: 80px 80px 80px 80px;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2rem 0.5rem 0.2rem 0.5rem;
    }
    
    .my24hs 
    /* para mergear tuki */{
    display: block;
    margin: auto;
    position: relative;
    top: 42px;
    left: 17px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-top: 30%;
    text-shadow:
            0 0 5px rgba(0,178,255,1),
            0 0 10px rgba(0,178,255,1),
            0 0 20px rgba(0,178,255,1),
            0 0 40px rgba(38,104,127,1),
            0 0 80px rgba(38,104,127,1),
            0 0 90px rgba(38,104,127,1),
            0 0 100px rgba(38,104,127,1),
            0 0 140px rgba(38,104,127,1),
            0 0 180px rgba(38,104,127,1);
    font-size: 2rem;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
    
    @keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
    }
    
/* Servicios */


.servicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.serviciosImagenes{
    height:250px ;
    width:250px ;
    
    padding: auto;
    
    margin: 20px;
    border: solid black 1px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

.tituloPostres{
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}

.precios{
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.postre{
    margin: 3rem;
    width: 265px;
    height: auto;
    text-align: center;
}

/* Footer y form */



.letrasForm{
    
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 15px;
    margin-bottom: 40px;
    padding: 10px;
}

.casillasDeForm{
    
    margin-bottom: 15px;
    margin: 5px;
}


.casillasDeForm2{
    position: relative;
    left: 10px;
    margin-bottom: 15px;
    margin: 15px;
}

.formCliente{

    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: block;
    padding:10px;

}
/* media q */
 
@media only screen and (max-width: 340px) {.imagenFondo {
display:none;}

.imagenFondo{
    display: none;
}
@media only screen and (max-width: 599px) {.gridEnvios {flex-direction: column-reverse;}
}
body{
    min-height: 100%;
}

html{height: 100%;}



.grid-container{
display: grid;
gap: 10px;
grid-template-areas: 
"header"
"barranav"
"main"
"footer";
}

.cabecera{grid-area: header;
    height: fit-content;
    flex-direction: column;
}

.cabeceraNavegacion{grid-area: barranav;
flex-direction: column;}

.main{grid-area: main;}

.footer{grid-area: footer;}
}
