*{
    margin: 0;
    padding: 0;
}
/* Logos */

.logoPrincipal{
    height: 140px;
    width: 140px; 
}

.logoRedes1{
    display: flex;
    justify-content: center; 
}

/* Barra de navegacion y footer*/

.cabecera{
    background-color: black;
        }


i{
    margin: 10px;
    color: white;
}

.grid-container{
    display: grid;
    min-height: 100vh;
    margin-top: auto;
}

/* ------ */
.footer{
    background-color: black;
    margin-top: auto;
}



.imagenFondo{ 
    width: 250px;
    height: 250px;
    margin: 22px;
    padding:block;
    border: solid black 2px;
}


/* Boton contacto */

.botonContacto{
    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }


/* Envios */

.gridEnvios 
{display: flex;
flex-direction: row-reverse;
justify-content: center;
height: 100vh;
}

.mapa{
   height: 400px;
   width: 400px;
  padding: 20px;
}

.col{
    background-color: rgb(255, 255, 255);
}

.row{
    color: black;
    align-items: start;
    margin: 10px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

.descripcionEnvios{
color: #fff;
margin: 10px;
font-family: 'Arimo', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Roboto', sans-serif; 
}

section{
    height: 360px;
    background-color:rgb(0, 0, 0);
    padding: 20px;
    margin: 18px;
}



/* Imagenes de galeria, carousel */
.tituloGaleria{
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    border-right:4px solid;
    width: 18ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    height: 25px;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
}
@keyframes typing {
    from {width: 0;}
}
@keyframes blink{50%
 {  border-color: transparent}
}

.carousel{
    width: 400px;
    display: block;
    margin: auto;
}

.carousel-item{height: 500px;
    }
.carousel-item img{height: 480px;
}




/* animacion reloj */

.box1 {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: black;
    border-radius: 80px 80px 80px 80px;
    align-items: center;
    justify-content: center;
    }
    
    .my24hs 
    /* para mergear tuki */{
    display: block;
    margin: auto;
    position: relative;
    top: 36px;
    left: 15px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-top: 30%;
    text-shadow:
            0 0 5px rgba(0,178,255,1),
            0 0 10px rgba(0,178,255,1),
            0 0 20px rgba(0,178,255,1),
            0 0 40px rgba(38,104,127,1),
            0 0 80px rgba(38,104,127,1),
            0 0 90px rgba(38,104,127,1),
            0 0 100px rgba(38,104,127,1),
            0 0 140px rgba(38,104,127,1),
            0 0 180px rgba(38,104,127,1);
    font-size: 2rem;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
    
    @keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
    }
    
/* Servicios */


.servicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.serviciosImagenes{
    height:250px ;
    width:250px ;
    padding: auto;
    margin: 20px;
    border: solid black 1px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

.tituloPostres{
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}

.precios{
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.postre{
    margin: 3rem;
    width: 265px;
    height: auto;
    text-align: center;
}

/* Form */



.letrasForm{ 
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
}

.casillasDeForm{
    
    margin-bottom: 15px;
    margin: 5px;
}


.casillasDeForm2{
    position: relative;
    left: 10px;
    margin-bottom: 15px;
    margin: 15px;
}

.formCliente{

    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: block;
    padding:10px;

}
/* media q fondo del index */
 
@media only screen and (max-width: 600px) 
{.imagenFondo {display:none;}

/* grids*/

.imagenFondo{
    display: none;
}
@media only screen and (max-width: 599px) 
{.gridEnvios {flex-direction: column-reverse;}
}

body{min-height: 100%;}

html{height: 100%;}

.grid-container{
display: grid;
gap: 10px;
grid-template-areas: 
"header"
"barranav"
"main"
"footer";
}

.cabecera{
    grid-area: header;
    height: fit-content;
    flex-direction: column;
}

.cabeceraNavegacion{
grid-area: barranav;
flex-direction: column;}

.main{
    grid-area: main;}

.footer{
    grid-area: footer;}
}

/* envios iframe media q */

@media only screen and (max-width: 781px){
    .gridEnvios {
        flex-direction: column-reverse;
        margin-top: 6rem;
    }
    .box1 {
        margin-top: 6rem;
    }
    .mapa{
        width: 100%;
    }
}

/* media q carousel */
@media only screen and (min-width: 599px){
    .carousel{
        width: 600px;
        display: block;
        margin: auto;
} }

@media only screen and (max-width: 480px){
    .carousel {
        width:auto;
    }
}

