/* GALERIACSS */
.tituloGaleria{
    @extend %display-margin-center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    border-right:4px solid;
    width: 18ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    height: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: map-get($colores-letras, color-principal);
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50%
 {  border-color: transparent}
}

.carousel{
    width: 400px;
    @extend %display-margin-center;
}

.carousel-item {
    height: 500px;

    

        img {
            height: 480px;
}
}

/* MEDIA Q GALERIA */

@media only screen and (min-width: 599px){
    .carousel {
        width: 600px;
        @extend %display-margin-center;
    } 
}

@media only screen and (max-width: 480px){
    .carousel {
        width:auto;
    }
}