/* GALERIACSS */
.tituloGaleria{
    display: block;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    border-right:4px solid;
    width: 18ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    height: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: map-get($colores-letras, color-principal);
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50%
 {  border-color: transparent}
}

.carousel{
    width: 480px;
    display: block;
    margin: auto;
}

.carousel-item {
    height: 500px;
    width: 100%;

    

        img {
            height: 100%;
}
}

.img-carousel{
    width: 100% ;
}

/* MEDIA Q GALERIA */



@media only screen and (max-width: 480px){
    .carousel {
        width:auto;
    }
}

.footer{
    margin-top: 1rem;
}