.tituloHistoria {
    display: block;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    border-right:4px solid;
    width: 18ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    height: 25px;
    text-align: center;
    padding-bottom: 50px;
    color: white;

}

.container{
    height: auto;
}

.light{
    text-align: center;
}

.mainHistoria{
    min-height: 100vh;
}
