
.imagenFondo {
    width: 250px;
    height: 250px;
    margin: 22px;
    padding: block;
    border: solid black 2px; }


.botonContacto{
    width: fit-content;
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: map-get($colores-letras, color-principal);
}
   
/* Form */


.letrasForm{ 
    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: map-get($colores-letras, color-secundario);
    padding: 10px;
    
}


.casillasDeForm{
    
    margin-bottom: 15px;
    margin: 5px;
    
}


.casillasDeForm2{
    position: relative;
    left: 10px;
    margin-bottom: 15px;
    margin: 15px;
}

.formCliente{

    font-family: 'Arimo', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: map-get($colores-letras, color-secundario);
    display: block;
    padding:10px;

}
/* media q fondo del index */
 
@media only screen and (max-width: 600px) 
{.imagenFondo {display:none;}
.botonContacto{
    display: block;
        
       
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: map-get($colores-letras, color-secundario);
        
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px rgb(9, 55, 7), 0 0 80px rgb(9, 55, 7), 0 0 90px rgb(9, 55, 7), 0 0 100px rgb(9, 55, 7), 0 0 140px rgb(9, 55, 7), 0 0 180px rgb(9, 55, 7);
        font-size: 2rem;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite; 
}
}


