/* maps */

$colores-letras: (
        color-principal: black,
        color-secundario: white
);



$backg-colors: (
        oscuro: black,
        claro: white

);



/* mixin */

@mixin flex-box ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
};